@charset "utf-8";

/* Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

/**** header ****/
header {
  color: var(--point-color);
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: -80px;
  z-index: 9999;
  transition: 0.3s;

  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: url(./images1/header_background.png) no-repeat 50% / cover;
}
header h1 {
  font-family: var(--en-font);
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 3rem;
}

header .gnb {
  margin: 0 3rem;
  display: flex;
  justify-content: right;
  font-weight: 700;
  gap: 5%;
}

header.change_header {
  top: 0;
  box-shadow: 5px 5px 25px rgba(88, 88, 88, 0.5);
}

header .gnb span {
  margin-left: 10px;
}
/**** main 화면 ****/
.main {
  width: 100%;
  height: 100vh;
  background: url(./images1/main_banner_img.png) no-repeat 50% 50% / cover;
  position: relative;
}

.main img {
  width: 50vw;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#tape1 {
  width: 20vw;
  position: absolute;
  bottom: -60px;
  right: -100px;
}
/**** work 화면 ****/
.work h3::after {
  width: 280px;
}
/* web design */
.web_design {
  height: 100vh;
  width: 100%;
}
.web_design .project1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.web_design .poject1_list {
  font-family: var(--en-font);
  font-size: 2rem;
  color: var(--point-color);
  margin: 10px 0;
  text-transform: capitalize;
  /* width: 15%; */
}
.web_design .center_img {
  width: 50vw;
}

.web_design .poject1_list p {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.web_design .poject1_list p:nth-child(1) {
  background: url(./images1/tape.png) no-repeat 50% / cover;
}

.web_desig .right_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_img .thumb_img00 {
  width: 200px;
  margin-top: 20px;
}

.right_img .avtive_line {
  border: 3px solid var(--point-color);
  text-indent: -9999px;
  width: 200px;
  height: 140px;
  position: absolute;
}

/* ui/ux design */
.work .ux_design h4,
.work .ux_design h5 {
  text-align: left;
}

.work .ux_design {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.work .ux_design .project2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.work .ux_design .project2_gnb {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.work .ux_design .project2_gnb li {
  width: 15px;
  height: 15px;
  background-color: #272727;
  border-radius: 50%;
  text-indent: -9999px;
}
.work .ux_design .project2 img:nth-child(1),
.work .ux_design .project2 img:nth-child(3) {
  transform: scale(0.8);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: contain;
}

/* 3d design */
.work .menu_product {
  overflow: hidden;
  width: 100%;
  height: 95vh;
}
.work .menu_product .menu--wrapper {
  margin-top: -180px;
}
.work .menu_product h4 {
  text-align: center;
}

.work .menu_product .drag h6 {
  font-family: var(--en-font);
  font-weight: bold;
  font-size: 2rem;
  color: var(--point-color);
  text-align: center;
  margin-top: 50px;

  position: relative;
}

.work .menu_product h4 strong {
  color: var(--point-color);
  text-shadow: none;
}

.contents #view_more {
  text-align: center;
  color: var(--point-color);
  font-size: 1.2rem;
  width: 250px;
  height: 60px;
  line-height: 60px;
  margin: -130px auto;
  margin-bottom: 100px;
  background: url(./images1/tape.png) no-repeat 50% / cover;
  transition: 0.3s;
}

.contents #view_more:hover {
  font-weight: bold;
  transform: scale(1.1);
}
/**** about me ****/
.about_me {
  position: relative;
  overflow: hidden;
}

.about_me #paper_tape {
  position: absolute;
  right: -120px;
  top: 150px;
  width: 30vw;
  z-index: 20;
  transition: 0.5s;
}
.about_me #paper_tape:hover {
  right: -280px;
}

/* skill */
.skills .skill_box {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}
.skills .tool_list {
  display: flex;
  gap: 10px;
  width: 90%;
  justify-content: end;
  margin-top: 20px;
}
.skills .tool_list img {
  width: 35px;
  height: 35px;
}

.skills .skill_box {
  width: 80%;
  height: 800px;
  margin: 100px auto;
  margin-bottom: 0;
  color: #fff;
  background: url(./images1/blue_paper.png);

  position: relative;
}

.skills .skill_box img:nth-child(1) {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
}

.skills .skill_box img:last-child {
  position: absolute;
  bottom: -60px;
  left: -100px;
  width: 300px;
}
.skills .skill_box .skill_list_txt {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills .skill_box .skill_list_txt h1 {
  font-size: 2rem;
  font-weight: bold;
}
.skills .skill_box .skill_list_txt .graphic,
.skills .skill_box .skill_list_txt .html,
.skills .skill_box .skill_list_txt .java,
.skills .skill_box .skill_list_txt .git {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  height: 20%;
}
.skills .skill_box .skill_list_txt .detail_skills li {
  list-style: disc;
  padding: 5px 0;
}

/* moving text */
.moving_txt {
  font-family: var(--en-font);
  text-transform: capitalize;
  font-size: 3rem;
  word-spacing: 5vw;
  margin-top: 100px;
}

/* profile */
.pofile {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.pofile .profile_txt h1 {
  font-size: 3rem;
  color: var(--point-color);
  font-weight: 300;
  line-height: 1.5;
  transition: 0.3s;
}
.pofile .profile_txt h1:hover {
  transform-origin: top left;
  transform: translateY(-20px) scale(1.1);
}
.pofile .profile_txt strong {
  background: url(./images1/tape.png) no-repeat 50% / cover;
}
.pofile .profile_txt em {
  font-style: normal;
  font-weight: bold;
}
.pofile .profile_txt .detail_profile_text {
  margin-top: 30px;
}
.pofile .profile_txt h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 20px;
}
.pofile img {
  width: 25vw;
  object-fit: contain;
}
.pofile .profile_txt2 {
  display: flex;
}
.pofile .profile_txt2 .experience {
  margin-left: 50px;
}

.pofile .profile_txt2 .experience li {
  padding: 10px 0;
  margin-left: 30px;
  list-style: disc;
}

.pofile .profile_txt2 .experience li::marker {
  color: var(--point-color);
}
/**** contact ****/
.contact {
  height: 100vh;
  background: url(./images1/contact_background.png) 50% / contain;
  color: #fff;
  text-align: center;
  position: relative;
}
.contact .contact_title {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.contact .contact_title h1 {
  padding-top: 150px;
  font-size: 5rem;
  font-family: var(--en-font);
  border-bottom: 1px solid #fff;
}

.contact h2 {
  font-size: 2rem;
  margin: 20px auto;
  padding-top: 50px;
}
.contact h4 {
  width: 35%;
  margin: 0 auto;
  word-break: keep-all;
  font-weight: 300;
  line-height: 1.6;
  font-weight: 200;
}
.contact .contact_list {
  display: flex;
  gap: 8%;
  justify-content: center;
  font-size: 2rem;
  margin: 50px 0;
}
.contact .contact_list li {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  line-height: 250px;
  color: #272727;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--en-font);

  background: url(./images1/contact_paper.png) no-repeat 50% / cover;
  transition: 0.3s;
}
.contact .contact_list li:hover {
  transform: translateY(-20px);
  font-size: 2.5rem;
  box-shadow: 0px 5px 20px #000000;
}
.contact h5 {
  font-size: 1.4rem;
  padding-top: 40px;
}
.contact p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

/* back to top */
.back_top img {
  width: 100px;
  position: fixed;
  bottom: -200px;
  right: 20px;
  transition: 0.3s;
}

.back_top img.change_daisy {
  bottom: 20px;
}
