@charset "utf-8";

/* 변수 설정 */
:root {
  --main-font: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  --en-font: 'Libre Baskerville', Arial, Helvetica, sans-serif;
  --donut-font: 'Rowdies', cursive, Arial, Helvetica, sans-serif;
  --navy-color: #0d1f3d;
}

/* common */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--main-font);
}
img {
  width: auto;
}

/***** header *****/
header {
  color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0px;
  z-index: 9999;
  transition: 0.5s;

  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: url(./images/blue_paper.png) no-repeat 50% / cover;
  box-shadow: 5px 5px 25px rgba(88, 88, 88, 0.2);
}
header .name-gnb {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
header .name-gnb a {
  height: 30px;
  line-height: 30px;
}
header .name-gnb a svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

header .name-gnb h1 {
  font-family: var(--en-font);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
}

header .gnb {
  margin: 0 3rem;
  display: flex;
  justify-content: right;
  font-weight: 700;
  gap: 5%;
}

/***** main *****/
.main {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: url(./images/grid-pattern.svg) no-repeat 50% / cover;
  position: relative;
  border-left: 20px solid var(--navy-color);
  border-right: 20px solid var(--navy-color);
  position: relative;
}

/* flow text */
.main .flow-text {
  font-family: var(--en-font);
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  height: 60px;
  line-height: 60px;
  background-color: var(--navy-color);
  position: absolute;
  bottom: 0;
}
.flow-text:hover {
  color: #ffeb7c;
}
.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.flow-wrap {
  animation: textLoop 10s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.main .main-sub-text h2 {
  color: var(--navy-color);
}
.main .main-text {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 80px;
  align-items: end;
}
.main .main-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 50px;
  color: var(--navy-color);
  text-transform: capitalize;
}
.main .main-text h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-variant: var(--navy-color);
  margin-bottom: 10px;
}

.main .main-text p {
  color: #525252;
  line-height: 1.7;
  text-transform: capitalize;
}
.main .main-project {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}

.main .main-project li {
  cursor: pointer;
  position: relative;
}

.main .main-project li:hover {
  transform: translateY(-10px);
}
.main .main-project .project {
  width: 22vw;
  height: 16vw;
  min-height: 200px;
  background-color: #fff;
  border: var(--navy-color) 1px solid;
  position: relative;
}
.main .main-project .project h2 {
  text-transform: capitalize;
  color: var(--navy-color);
  background-color: #fff;
  border: var(--navy-color) 1px solid;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: capitalize;
}
.main .main-project .project img {
  display: block;
  margin: 30px auto;
  width: 19vw;
  min-width: 200px;
  position: relative;
}

.main .main-project .project h3 {
  padding-top: 10px;
  font-size: 1.25rem;
  text-align: center;
}
.main .main-project li h4 {
  text-align: right;
  font-size: 0.8rem;
  color: #525252;
}
.main .main-project .project1 {
  position: relative;
  bottom: -30px;
}

.main .main-project .project2 {
  position: relative;
  top: -20px;
}

.main .main-project .project3 {
  position: relative;
  bottom: -100px;
}
.main .main-project li p {
  width: 120px;
  height: 35px;
  border-radius: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border: #fff 1px solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
.main .main-project li:hover img {
  filter: brightness(0.4);
}
.main .main-project li:hover p {
  display: block;
}

.project-detail {
  width: 85vw;
  height: 80vh;
  min-height: 400px;
  background-color: #fff;
  border: var(--navy-color) 2px solid;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 50px;
  box-shadow: 0px 0px 800px rgba(0, 0, 0, 0.8);
}

.project-detail .detail-top img:nth-child(1) {
  width: 35vw;
  min-width: 400px;
}
.project-detail .detail-top {
  display: flex;
  gap: 50px;
}
.project-detail .detail-top h2 {
  color: var(--navy-color);
  font-size: 3rem;
  font-weight: 600;
}
.project-detail .detail-top h3 {
  color: #757575;
  margin-top: 10px;
}
.project-detail .detail-top ul {
  margin-top: 30px;
  list-style: disc;
  margin-left: 5dvh;
  line-height: 1.7;
  color: var(--navy-color);
}
.project-detail img:nth-child(2) {
  margin-top: 30px;
  width: calc(85vw - 100px);
  min-width: 800px;
}

.project-detail .keyword {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 10px;
  width: 30vw;
}

.project-detail .keyword li {
  border: 2px solid var(--navy-color);
  color: var(--navy-color);
  font-size: 1.1rem;
  padding: 2px 30px;
  border-radius: 50px;
  margin-right: 10px;
  transition: 0.3s;
}
.project-detail .keyword li:hover {
  transform: translateY(-5px);
  background-color: var(--navy-color);
  color: #fff;
}
.project-detail svg {
  fill: var(--navy-color);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.project-detail svg:hover {
  transform: scale(0.8);
}

.project-box1 {
  display: none;
}

.project-box1.active-project {
  display: block;
}

.project-box2 {
  display: none;
}

.project-box2.active-project {
  display: block;
}

.project-box3 {
  display: none;
}

.project-box3.active-project {
  display: block;
}

.project-box4 {
  display: none;
}

.project-box4.active-project {
  display: block;
}
/***** main *****/
.modelling {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(./images/grid-pattern.svg) no-repeat 50% / cover;
  border-left: 20px solid var(--navy-color);
  border-right: 20px solid var(--navy-color);
}

/* flow text */
.modelling .flow-text {
  font-family: var(--en-font);
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  height: 60px;
  line-height: 60px;
  background-color: var(--navy-color);
  position: absolute;
  bottom: 0;
}

.modelling h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--en-font);
  text-align: center;
  padding-top: 160px;
  color: var(--navy-color);
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 30px;
  /* border-bottom: 2px solid var(--navy-color); */
}
.modelling h3 strong {
  color: #fff;
  text-shadow: -1px 0px var(--navy-color), 0px 1px var(--navy-color),
    1px 0px var(--navy-color), 0px -1px var(--navy-color);
}

.modelling .modelling-project {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.modelling .modelling-project li {
  cursor: pointer;
}
.modelling .modelling-project li:hover {
  transform: translateY(-15px);
}
.modelling .modelling-project li img {
  width: 18vw;
  min-width: 200px;
}

.modelling .modelling-project p {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: var(--navy-color);
  margin: 20px 0;
}
.modelling .modelling-txt {
  margin-left: 4%;
  margin-top: 2vw;
  color: #525252;
}

.modelling p {
  text-align: center;
  margin-top: 60px;
  color: #757575;
}
/***** footer *****/
footer {
  width: 100vw;
  height: 20vh;
  background: url(./images/blue_paper.png) no-repeat 50% / cover;
  position: relative;
}

footer p {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  text-align: center;
  color: #fff;
}
