@charset "utf-8";
a {
  color: inherit;
}
/**  scrollbar 제거  **/
body::-webkit-scrollbar {
  display: none;
}

html {
  /* 부드러운 스크롤 */
  scroll-behavior: smooth;
}

:root {
  --main-font: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  --en-font: 'Libre Baskerville', Arial, Helvetica, sans-serif;
  --point-color: #0d1f3d;
}

body {
  font-family: var(--main-font);
}

/* 소제목 */
h3 {
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  margin-left: 3rem;
  padding-top: 80px;
  color: var(--point-color);
}
h3:after {
  content: '';
  width: 12vw;
  position: absolute;
  bottom: -10px;
  left: -90px;
  border: 2px solid var(--point-color);
}

.skill h3:after {
  width: 14vw;
}

/* contents */
.contents {
  background: url(../main-images/background_pattern.png) 50% / contain;
}

/* 소제목2 */
.work {
  width: 100%;
}
h4,
h5 {
  font-family: var(--en-font);
  text-align: right;
  font-size: 4rem;
  color: #fff;
  text-shadow: -1px 0px var(--point-color), 0px 1px var(--point-color),
    1px 0px var(--point-color), 0px -1px var(--point-color);
  transition: 0.3s;
}
h5 {
  color: var(--point-color);
  text-shadow: none;
}

h4:hover {
  transform: translateY(-10px);
}

h4:hover {
  text-shadow: none;
  color: var(--point-color);
}
