body {
  width: 100%;
  height: 100%;
}
.menu_product {
  overflow: hidden;
  cursor: -webkit-grab;
  width: 100%;
  position: relative;
  z-index: 1;
}
.menu--wrapper {
  counter-reset: count;
  display: flex;
  height: 100%;
  width: 100%;
}
.menu--item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100%;
}

.menu--item:nth-child(n + 10):before {
  content: counter(count);
}
.menu--item figure {
  position: absolute;
  z-index: 1;
  display: block;
  user-select: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.menu--item figure img {
  width: 20vw;
  max-width: 400px;
  min-width: 200px;
  height: 100%;
  object-fit: contain;
}
