@charset "utf-8";

.main .main-design img:nth-child(1) {
  width: 60vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.main .main-design img:nth-child(2) {
  width: 15vw;
  position: absolute;
  right: 9vw;
  bottom: 15vw;
}
