@charset "utf-8";

/* header */
header .header-icon {
  display: none;
}

header .global-nav {
  display: flex;
  gap: 40px;
  line-height: 60px;
}

header .global-nav li {
  transition: 0.3s;
}
header .global-nav li:hover {
  color: var(--main-color);
  transform: translateY(-5px);
}

/* banner */
.banner {
  position: relative;
  height: 800px;
}
.banner .banner-in {
  display: flex;
}
.banner .banner-txt h1 {
  font-size: 1.5rem;
}
.banner .banner-txt {
  gap: 10px;
}

.banner .banner-txt .banner-in-txt {
  width: 400px;
  margin-bottom: 2vw;
}

.banner .banner-img img {
  min-width: 55%;
  max-width: 650px;
  position: absolute;
  right: 5%;
  bottom: 10px;
}

/* menu */

.main-menu {
  background: url(./images/mobile-menu-background2.png);
}
.main-menu .menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2vw;
  margin-top: 10vw;
}

.main-menu .menu-list li {
  width: 25vw;
  height: 300px;
}

.main-menu .background img {
  right: -350px;
  top: -80px;
  width: 400px;
}
.main-menu .background img:last-child {
  width: 30vw;
  left: 200px;
  top: auto;
  bottom: 0;
}
.main-menu .background img:last-child {
  left: -200px;
  top: auto;
  bottom: 0;
}

.main-menu .menu-list li h3 {
  font-size: 1.25rem;
}
.main-menu .menu-list li h3 strong {
  font-size: 1rem;
}
.main-menu .menu-list li p {
  font-size: 14px;
}

.main-menu .menu-list .buy {
  margin: 20px auto;
}

/* main-brand */
.main-brand .brand-box {
  background: fixed url(./images/donut-background.png) no-repeat 50% / cover;
}
.main-brand .brand-box {
  height: 400px;
}
.main-brand .color-layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
}
.main-brand .brand-box .brand-txt {
  gap: 15px;
  margin: 5vw;
}

.main-brand .brand-box .brand-txt h3 {
  font-size: 1.4rem;
  padding-top: 150px;
}
.main-brand .brand-box .brand-txt p {
  font-size: 1rem;
}

/* main-store */
.main-store h2 {
  padding: 0;
  padding-top: 100px;
}
.store-txt {
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  text-align: center;
  position: relative;
  bottom: -200px;
  color: #fff;
  z-index: 90;
}

.store-txt h4 {
  font-size: 1.5rem;
}

.main-store .store-list ul li img {
  width: 25vw;
  height: 350px;
  filter: brightness(0.5);
}
.main-store .store-list ul li img:hover {
  filter: brightness(1);
  transform: scale(1.1);
}

.main-store .store-list ul li:hover .store-txt {
  opacity: 0;
}

.store-list {
  margin: 100px 8%;
}
.store-list ul {
  left: 0;
}

/* pop-culture */
.main-culture h2 {
  margin-bottom: 20px;
}
.culture-list {
  font-size: 2rem;
  padding-top: 40px;
}
.culture-list li {
  font-size: 1.25rem;
  text-indent: 20px;
}

.culture-list svg {
  fill: #ddd;
  width: 40px;
  position: absolute;
  right: 0;
}

/* footer */
footer {
  height: 240px;
  padding-bottom: 250px;
}
footer .footer-text {
  margin-top: 20px;
  display: flex;
  gap: 5vw;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
}

footer p {
  font-size: 1rem;
}

footer #center {
  font-size: 1em;
  padding-top: 20px;
}
footer svg {
  width: 40px;
}
